* {
    list-style: none;
}
body {
display:flex;
align-items: center;
flex-direction: column;
max-width: 100%;
}

.general {
    display: flex;
    max-width: 80%;
}

.primera-columna {
    width: 25%;
}
.segunda-columna {
    width: 75%;
}
.segunda-columna ul {
    display: flex;
}
.segunda-columna li {
    width: 33.3%;
}



@media only screen and (max-width: 500px) {
.general {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.primera-columna {
    text-align: center;
    width: 100%;
    ;
}
}