* {
    list-style: none;
}
body {
display:flex;
align-items: center;
flex-direction: column;
}
.general {
    display: flex;
}
.primera-columna {
    width: 25%;
    margin: 5px;
    box-sizing: border-box;
}
.segunda-columna {
    width: 75%;
}
.segunda-columna ul {
    display: flex;
}
.segunda-columna li {
    width: 33.3%;
    margin: 7px;
    box-sizing: border-box;
}



@media only screen and (max-width: 500px) {

.general {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    text-align: center;
}
.primera-columna {
    text-align: center;
    width: 100%;
}
.segunda-columna ul {
    display: flex;
    flex-direction: column;
    padding: 0;
}
.segunda-columna li {
    width: 100%;
}
}